.chat-message {
    padding: 0.5em 0.6em;
    border-radius: 0.4em;
    margin: 1em 0.8em;
}

.chat-message .content {
    margin-top: 0.2em;
}

.chat-message .user {
    font-weight: bold;
}

.chat-message .time {
    text-align: right;
    color: #525252;
    font-size: 0.8rem;
}