.send-message-area {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px solid;
}

.send-message-field {
    border: none;
    width: 100%;
    padding: 0.8em 0.6em;
    font-size: 1rem;
    resize: none;
}

.send-message-area.error .send-message-field {
    border: 1px solid #ff6b6b
}

.send-message-button {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-message-button img {
    width: 2em;
    margin-top: 0.3em;
}

.send-message-field:focus {
    outline: thin dotted #e2e2e6;
}
.send-message-button:focus {
    outline: thin dotted #ababaf;
    outline-offset: -1px;
}
